section.philosophy
  @include make-row
  background: #fff
  h2
    @include make-xs-column(12)
.philosophy-point
  @include make-xs-column(12)
  @include make-md-column(4)

section.team
  @include make-row
  padding: 40px 0
  background: #fff
  h2
    @include make-xs-column(12)
.team-member
  @include make-xs-column(12)
  @include make-md-column(6)