section.brand-feature
  padding: 320px 0
  width: 100%
  position: relative
  text-align: center
  color: #fff
  background: url(temp-brand.jpg) no-repeat
  background-size: cover
  h1
    padding: 0 20px
  p
    font-size: 140%
.brand-title
  @include make-xs-column(12)

section.brand-statement
  @include make-row
  padding: 40px 0
  background: #fff
  p
    @include make-xs-column(12)
    @include make-sm-column(6)

section.product-feature
  @include make-row
  background: #fff
  width: 100%
  text-align: center
.product-feature-title
  @include make-xs-column(12)