section.brand-feature
  padding-top: 320px
  padding-bottom: 320px
  position: relative
  text-align: center
  color: #fff
  background: url(temp-brand.jpg) center 50% no-repeat
  background-size: cover
  h1
    padding: 0 20px
  p
    font-size: 140%
.brand-title
  @include make-xs-column(12)

section.brand-statement
  padding-top: 60px
  padding-bottom: 60px
  background: #fff
  p
    @include make-xs-column(12)
    @include make-sm-column(6)
  .bolt
    @include make-xs-column(12)
    @include make-sm-column(4)
    @include make-sm-column-offset(4)
    margin-top: 40px
    text-align: center
    background: url(bdr.png) center 50% repeat-x
    img
      width: 24px
      height: 24px
      background: #fff

section.product-feature
  @include clearfix
  padding-top: 40px
  padding-bottom: 40px
  background-size: cover
  background-repeat: no-repeat
  text-align: center
  color: #fff
  @media (min-width: $screen-sm)
    padding-top: 90px
    padding-bottom: 90px
.product-feature-title
  @include make-xs-column(12)
  @include make-sm-column(8)
  @include make-sm-column-offset(2)
  @include make-lg-column(6)
  @include make-lg-column-offset(3)
  p.action
    margin-top: 20px