.video-background
  position: absolute
  bottom: 0
  left: 0
  overflow: hidden
  width: 100%
  height: 100%
  z-index: 0
.video-background video
  display: inline-block
  min-height: 100%
  min-width: 100%
.ui-widget
  display: none

section.brand-feature
  padding: 60px 0
  position: relative
  text-align: center
  color: #fff
  overflow: hidden
  @media (min-width: $screen-sm)
    height: 1044px
  img
    width: 100%
    opacity: .85
    @media (min-width: $screen-sm)
      width: 100%
    @media (min-width: $screen-md)
      width: auto
.brand-title
  @include make-xs-column(12)
  h1
    font-size: 90px

section.brand-statement
  padding-top: 60px
  padding-bottom: 60px
  background: #fff image-url("bg-exclusive_paper.png")
  p
    @include make-xs-column(12)
    @include make-sm-column(6)
  .bolt
    @include make-xs-column(12)
    @include make-sm-column(4)
    @include make-sm-column-offset(4)
    margin-top: 40px
    text-align: center
    background: image-url("bdr.png") center 50% repeat-x
    img
      width: 24px
      height: 24px
      background: #fff image-url("bg-exclusive_paper.png")

section.product-feature
  @include clearfix
  padding-top: 40px
  padding-bottom: 40px
  background-size: cover
  background-repeat: no-repeat
  text-align: center
  color: #fff
  @media (min-width: $screen-sm)
    padding-top: 90px
    padding-bottom: 90px
.product-feature-title
  @include make-xs-column(12)
  @include make-sm-column(12)
  @include make-lg-column(12)
  p.action
    margin-top: 20px