section.product-header
  background: #fff image-url("bg-exclusive_paper.png")
  .overlay
    background-position: left top
    background-repeat: no-repeat
    background-size: 90%
    @media (min-width: $screen-sm)
      background-position: left 50%
      background-repeat: no-repeat
      background-size: 55%
.product-header-title
  @include make-xs-column(12)
  @include make-sm-column(4)
  @include make-sm-column-push(8)
  padding: 65% 0 80px 0
  @media (min-width: $screen-sm)
    padding: 10% 0
  .callouts
    padding-top: 10px
    margin-bottom: 10px
    padding-bottom: 10px
    font-family: $font-headline
    font-weight: 700
    font-size: 14px
    border-top: 2px solid $text-color
    border-bottom: 2px solid $text-color
    text-transform: uppercase
.product-header-cable
  @include make-xs-column(12)
  @include make-sm-column(12)
  @include make-md-column(4)
  @media (min-width: $screen-md)
    padding-top: 20px
    padding-bottom: 40px
img.cables
  width: 100%

section.product-gallery
  img
    width: 100%
  ul.slides
    margin: 0
    padding: 0

section.product-colors
  img
    width: 100%

section.product-points
  padding: 40px 0
  background: #fff image-url("bg-exclusive_paper.png")
.product-point
  @include make-xs-column(12)
  @include make-sm-column(6)
  @include make-md-column(3)
  margin-bottom: 20px
.product-point-icon
  @include make-xs-column(12)
  @include make-sm-column(6)
  img
    margin-bottom: 20px
    width: 100%
.product-point-info
  @include make-xs-column(12)
  h3
    margin-top: 0

section.product-variations
  padding: 40px 0
  background: #fff
  text-align: center
.product-variation
  padding: 20px 0