section.product-header
  background: #fff image-url("bg-exclusive_paper.png")
  .overlay
    background-position: left top
    background-repeat: no-repeat
    background-size: 90%
    @media (min-width: $screen-sm)
      background-position: left 50%
      background-repeat: no-repeat
      background-size: 55%
  &.cable
    .overlay
      @media (min-width: $screen-sm)
        background-size: 60%
.product-header-title
  @include make-xs-column(12)
  @include make-sm-column(4)
  @include make-sm-column-push(8)
  padding: 65% 0 80px 0
  @media (min-width: $screen-sm)
    padding: 10% 0
  .callouts
    padding-top: 10px
    margin-bottom: 10px
    padding-bottom: 10px
    font-family: $font-headline
    font-weight: 700
    font-size: 14px
    border-top: 2px solid $text-color
    border-bottom: 2px solid $text-color
    text-transform: uppercase
.product-header-cable
  padding-top: 25%
  padding-bottom: 40px
  background-position: 0 20px
  background-size: 100%
  background-repeat: no-repeat
  border-bottom: 1px solid #ddd
  @media (min-width: $screen-md)
    padding-top: 80px
    padding-bottom: 80px
    background-position: 0 50%
    background-size: 58%
  .info
    @include make-xs-column(12)
    @include make-sm-column(12)
    @include make-md-column-offset(8)
    @include make-md-column(4)
img.cables
  width: 100%

section.product-gallery
  img
    width: 100%
  ul.slides
    margin: 0
    padding: 0

section.product-colors
  img
    width: 100%

section.product-points
  padding-top: 40px
  padding-bottom: 40px
  background: #fff image-url("bg-exclusive_paper.png")
.product-point
  @include make-xs-column(12)
  @include make-sm-column(6)
  @include make-md-column(3)
  margin-bottom: 20px
.product-point-icon
  @include make-xs-column(12)
  @include make-sm-column(6)
  img
    margin-bottom: 20px
    width: 100%
.product-point-info
  @include make-xs-column(12)
  padding: 0
  h3
    margin-top: 0

section.callouts
  padding-top: 40px
  padding-bottom: 40px
  background: #fff image-url("bg-exclusive_paper.png")
  h2
    margin-bottom: 40px
    padding-bottom: 20px
    border-bottom: 2px solid $text-color
  .callout
    @include make-row
    margin-bottom: 60px
    .pic
      @include make-xs-column(12)
      @include make-sm-column(6)
      img
        padding: 10px
        background: #fff
        border: 1px solid #ddd
        width: 100%
    .info
      @include make-xs-column(12)
      @include make-sm-column(6)
      padding-top: 20px
    &.even
      .pic
        @include make-sm-column-push(6)
      .info
        @include make-sm-column-pull(6)
section.product-variations
  padding: 40px 0
  background: #fff
  text-align: center
.product-variation
  padding: 20px 0
#peruvian-patterns, #solid
  background: #fff image-url("bg-exclusive_paper.png")
  .product-variation
    margin-bottom: 20px
    padding: 70px 0
    background-position: 0 50%
    background-repeat: repeat-x
    text-align: center
    .info
      margin: 0 auto
      padding: 5px 10px
      width: 300px
      background: rgba(255,255,255,.8)
    h3
      text-transform: uppercase
      font-size: 18px

section.product-colors, section#shirt-styles
  padding: 40px 0
  background: #fff image-url("bg-exclusive_paper.png")
  h2
    margin-bottom: 40px
    padding-bottom: 20px
    border-bottom: 2px solid $text-color
  .product-color
    margin-bottom: 80px
    text-align: center
    img
      width: 70%
      @media (min-width: $screen-sm)
        width: 40%