section.product-header
  background-color: #fff
.product-header-title
  @include make-xs-column(12)
  @include make-sm-column(4)
  @include make-sm-column-push(8)
  padding: 80px 0
.product-header-cable
  @include make-xs-column(12)
  @include make-sm-column(4)
  padding: 40px 0

section.product-gallery
  img
    width: 100%

section.product-colors
  img
    width: 100%

section.product-points
  padding: 40px 0
  background: #fff
.product-point
  @include make-xs-column(12)
  @include make-md-column(3)

section.product-variations
  padding: 40px 0
  background: #fff
  text-align: center
.product-variation
  padding: 20px 0