- content_for :title, "Kurt Vile"

%section.main
  .container
    .wholesale-pricing
      %h1 Kurt Vile
      .one
        %p Watching Kurt Vile wear his <a href="http://originalfuzz.com/collections/guitar-straps/products/peruvian-strap-in-kurt-vile">namesake Peruvian strap</a> with his white Fender Squire Jaguar was too sweet. Not to mention that J Mascis gave him that guitar.
        %p We rolled up behind Jack Rabbits in Jacksonville around 5 and Kurt was standing outside by the band's rented, gray Mercedes Sprinter—the vehicle that we've had our eye on as a Fuzz road van for years now. One day we'll get one of those things and paint it navy with an orange lightening bolt on the side.
        %p So, we hopped out of our '94 Chevy Tahoe and yelled "Kurt!" He was a little confused and thought we were a member of his band, but we were like "Hey man sorry to bother you, we tried to get an email through beforehand, but we have some guitar straps we wanted to give you." He was a little confused but super nice.
        %p "Oh and we've also been using your name on one of our straps on our website. Let us know if this is a problem. We can easily change it."
        %p Kurt replied with "I don't give a shit."
        %p We've always felt that Kurt Vile's guitar playing is pushing the instrument forward. We're 60 years into the rock and roll era, post-Sonic Youth, and he's a guy with a singular style and fresh approach to the instrument. A guitar player with a truly unique sound doesn't come along often, and that's why we wanted to name a guitar strap after him.
        <iframe src="//player.vimeo.com/video/78430331?title=0&amp;byline=0&amp;portrait=0&amp;color=d83020" width="640" height="360" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
