// Variables
$font-headline: "brandon-grotesque", "Helvetica", Arial, sans-serif
$font-body: "ff-meta-web-pro", "Helvetica", Arial, sans-serif

// Boostrap Overrides
$font-family-sans-serif: $font-body
$font-size-base: 16px

$headings-font-family: $font-headline
$headings-font-weight: 700

$brand-primary: #d15a47
$text-color: #4b4b4b

$grid-float-breakpoint: 992px

$navbar-default-bg: #313a4c
$navbar-height: 65px
$navbar-default-link-color: #ccc
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 10%)
$navbar-default-toggle-hover-bg: lighten($navbar-default-bg, 10%)
$navbar-default-toggle-icon-bar-bg: lighten($navbar-default-bg, 20%)
$navbar-default-toggle-border-color: lighten($navbar-default-bg, 20%)
$grid-float-breakpoint: 768px

$dropdown-bg: $navbar-default-bg
$dropdown-link-color: #fff

@import "bootstrap"

body
  padding-top: 64px
  background: $navbar-default-bg

header
  a
    font-family: $font-headline
    text-transform: uppercase
    font-weight: 700
    font-size: 12px
    letter-spacing: 1px
    color: #6D737E !important
  .navbar-collapse.in
    a
      padding-top: 4px
      padding-bottom: 4px
    p
      color: white
      padding-left: 10px
      margin-top: 10px
      margin-bottom: 4px
    .navbar-nav
      margin: 0
      &:first-child
        margin-top: 10px
      &:last-child
        margin-bottom: 10px
  .navbar-brand
    position: relative
    width: 153px
  .navbar-brand img
    margin-top: 10px
    margin-right: 20px
    width: 100px
    position: absolute
    top: 0px
  .shoppingcart
    margin-top: 24px
    margin-right: 16px
    p
      color: #6D737E
      font-size: 13px
      margin: 0
    #itemcount
      color: #999
      background: #6D737E
      moz-border-radius: 2px
      border-radius: 2px
      margin-left: 6px
      padding-right: 4px
      padding-left: 4px
  @media (min-width: $screen-sm)
    .navbar-brand img
      margin-top: 5px
      width: 123px
    ul.nav
      li a
        padding-left: 10px
        padding-right: 10px
      li.dropdown
        ul.dropdown-menu
          li a
            padding-right: 100px

section.page-picture
  img
    width: 100%

.main
  padding-top: 60px
  padding-bottom: 60px
  background: #fff image-url("bg-exclusive_paper.png")

footer
  padding-top: 40px
  padding-bottom: 40px
  color: #888
  h4
    margin-top: 0
    text-transform: uppercase
    font-weight: 700
    font-size: 12px
    color: #eee
    line-height: 1.4
  ul
    margin: 0
    padding: 0
  li
    margin: 0
    padding: 5px 0
    list-style: none
  a
    color: #999
    display: block
  a:hover
    color: #ccc
    text-decoration: none
  .whitetext
    color: white
  .borderwrapper
    padding: 14px
    margin-bottom: 12px
    border: 1px solid #666
    p
      // text-transform: uppercase
      font-size: 14px
      margin-bottom: 0
.footer-div1
  @include make-sm-column(6)
  @include make-lg-column(4)
.footer-band-profiles
  @include make-xs-column(12)
  @include make-lg-column(6)
.footer-fuzz-guide
  @include make-xs-column(12)
  @include make-lg-column(6)
  margin-bottom: 20px
.footer-logo
  @include make-xs-column(4)
  @include make-lg-column(3)
  @include make-lg-column-offset(1)
  padding: 0
  margin-bottom: 20px
  img
    opacity: .5
    width: 90px
    @media (min-width: $screen-sm)
      width: 100px
.footer-social
  @include make-xs-column(8)
  @include make-lg-column(8)
  text-align: right
  @media (min-width: $screen-lg)
    text-align: center
  p
    display: inline-block
    margin: 14px 8px 0 2px
    font-size: 22px
    @media (min-width: $screen-sm)
      margin: 12px 8px 0 2px
      font-size: 28px
.footer-about
  @include make-xs-column(12)
  margin-bottom: 20px
.footer-div2
  @include make-sm-column(6)
  @include make-lg-column(8)
.footer-customer-service
  @include make-xs-column(12)
  @include make-sm-column(6)
  @include make-lg-column(3)
  margin-bottom: 20px
.footer-products
  @include make-xs-column(12)
  @include make-sm-column(6)
  @include make-lg-column(3)
  margin-bottom: 20px
.footer-company
  @include make-xs-column(12)
  @include make-sm-column(6)
  @include make-lg-column(3)
  margin-bottom: 20px
.footer-dealers
  @include make-xs-column(12)
  @include make-sm-column(6)
  @include make-lg-column(3)

// headings
h1, h2
  text-transform: uppercase

// links
a:hover
  text-decoration: none

// buttons
.btn
  text-transform: uppercase
  font-family:  $font-headline
  font-weight: 700
  font-size: 80%

// foundation interchange
meta.foundation-mq-small
  font-family: "/only screen and (max-width: 40em)/"
  width: 0em

meta.foundation-mq-medium
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/"
  width: 40.063em

meta.foundation-mq-large
  font-family: "/only screen and (min-width:64.063em)/"
  width: 64.063em

meta.foundation-mq-xlarge
  font-family: "/only screen and (min-width:90.063em)/"
  width: 90.063em

meta.foundation-mq-xxlarge
  font-family: "/only screen and (min-width:120.063em)/"
  width: 120.063em
