// Variables
$font-headline: "brandon-grotesque", "Helvetica", Arial, sans-serif
$font-body: "futura-pt", "Helvetica", Arial, sans-serif

// Boostrap Overrides
$font-family-sans-serif: $font-body
$font-size-base: 16px

$headings-font-family: $font-headline
$headings-font-weight: 700

$brand-primary: #d15a47
$text-color: #4b4b4b

$navbar-default-bg: #ece7d3
$navbar-height: 65px

$dropdown-bg: #555
$dropdown-link-color: #fff

@import "bootstrap"

body
  padding-top: 64px
  background: #555

header
  a
    font-family: $font-headline
    text-transform: uppercase
    font-weight: 700
    font-size: 12px
    letter-spacing: 1px
  .navbar-brand
    position: relative
    width: 143px
  .navbar-brand img
    margin-top: 5px
    margin-right: 20px
    width: 123px
    position: absolute
    top: 0px

section.page-picture
  img
    width: 100%

.main
  padding: 40px 0
  background: #fff

footer
  padding: 20px 0
  color: #777

// headings
h1
  text-transform: uppercase

// buttons
.btn
  text-transform: uppercase
  font-family:  $font-headline
  font-weight: 700
  font-size: 80%