- content_for :title, "About Original Fuzz"

%section.page-picture
  = image_tag "temp-about.jpg"
  %section.main
    .container
      .about-us
        %h1 About Us
        .one
          %p It’s no secret that guitar players love their instruments, so it’s a shame the rest of their gear doesn't inspire that kind of devotion. We're Original Fuzz, and we're out to change that with a line of road-tested accessories that come with a lifetime guarantee.
          %p Whether we're reinventing the gig bag or searching the globe for handwoven textiles, we won't stop creating products that you'll never want to replace. That's why everything we make comes with a lifetime guarantee.
        .two
          %p Original Fuzz was created by Zach & Lee, two musicians who have been lugging around cables, pedals, picks, and other random gear since our hands were big enough to make a barre chord. Years of frustration and damaged gear led us to design a new kind of gear bag, the Fuzz Bag. And with that Original Fuzz was born.
          %p We're based in the Riverside neighborhood of Jacksonville, FL and we're relentless participants in our local music scene.
        .bolt
          = image_tag "bolt.svg", alt: "Bolt", width: "24", height: "24"
  %section.philosophy
    = image_tag "temp-philosophy.jpg", alt: "Philosophy"
    .container
      %h2 Our Philosophy
      .philosophy-point
        %h3 Lifetime Guarantee
        %p Our products are made to last. That's why we offer a lifetime guarantee on everything we make. If something wears out or breaks, send it back to us and we'll either fix it or replace it for you. Our goal is to make products that will stay in your family for generations.  
      .philosophy-point
        %h3 Sweat the Details
        %p We care deeply about every detail that goes into our products. We source the best components for the job-to-be-done. With the Fuzz Bag that means we use a YKK zipper that's just the right size and color when you reach for it in a dark venue. With our guitar straps, that means we go to Peru to find totally unique handwoven textiles. We don't choose something without considering it from every angle and testing it extensively.
      .philosophy-point
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %section.team
    = image_tag "temp-team.jpg", alt: "Original Fuzz Team"
    .container
      %h2 The Team
      .team-member
        %h3 Zach
        %p.title Role Name
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member
        %h3 Lee
        %p.title Role Name
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.