- content_for :title, "About Original Fuzz"

%section.page-picture
  = image_tag "http://placehold.it/1000x400"
  %section.main
    .container
      %h2 About Us
      %p It’s no secret that guitar players love their instruments, so it’s a shame the rest of their gear doesn't inspire that kind of devotion. We're out to change that with a line of road-tested accessories that come with a lifetime guarantee. We're Original Fuzz, and we're bringing quality design and craftsmanship to the gear guitar players depend on.
      %p Original Fuzz was created by Zach & Lee. We’re two musicians who have been lugging around cables, pedals, picks, and other random gear since our hands were big enough to make a barre chord. Years of frustration and damaged gear led us to design a new kind of gear bag, the Fuzz Bag. And with that Original Fuzz was born. We're based in the Riverside neighborhood of Jacksonville, FL and we're relentless participants in our local music scene.
      %p If you have any questions or concerns with an order, have feedback, or just want to chat, we'd love for you to contact us. You can also follow our blog, subscribe to our email updates, or catch us on Twitter.
      
  %section.philosophy
    = image_tag "temp-philosophy.jpg", alt: "Philosophy"
    .container
      %h2 Our Philosophy
      .philosophy-point
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .philosophy-point
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .philosophy-point
        %h3 Point
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %section.team
    .container
      %h2 The Team
      .team-member
        = image_tag "temp-zach.jpg", alt: "Zach"
        %h3 Zach
        %p.title Role Name
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .team-member
        = image_tag "temp-lee.jpg", alt: "Lee"
        %h3 Lee
        %p.title Role Name
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.