- content_for :title, "About Original Fuzz"

%section.page-graphic.about{style:"background: #fff url(#{asset_path('header-about.png')}) right bottom no-repeat; background-size: cover;"}
  .container
    .type
      = image_tag "type-about.png"
%section.philosophy
  .container
    %h2 Our Philosophy
    .philosophy-point
      %h3 Quality Design
      %p We care deeply about every detail that goes into our products, so we go to great lengths to ensure that every detail is just right.
      %p With our guitar straps, that means we go to Peru to find totally unique, handwoven textiles. With the Fuzz Bag that means we use a YKK zipper that's just the right size and color when you reach for it in a dark venue.
      %p No matter the product, we don't make a design decision without considering it from every angle and testing it extensively.
    .philosophy-point
      %h3 Responsible Sourcing
      %p Our Peruvian straps follow fair trade guidelines. The artisans earn a living wage, have a safe working environment, and are not subject to workplace pollutants or toxins.
      %p There is no child labor. Our cables are made in the USA, but the copper wiring is from Japan. The leather for our straps are made in Leon, Mexico, a place known for great leather work.
      %p Each point in our supply chain is considered responsibly and chosen so that we can make the best product possible.
    .philosophy-point
      %h3 Lifetime Guarantee
      %p Our products are made to last. That's why we offer a lifetime guarantee on everything we make. So, if you are alive, the owner of one of our products, and that product breaks, send it back to us with a proof of purchase and we'll either fix it or replace it for you.
      %p The guarantee doesn't apply if you strap it to the back of your car and drag it down I-95, but if the product wears out from normal use, we'll take care of you. We want our products to work for you for a long, long time.
%section.team
  .container
    %h2 The Team
    .team-member
      .avatar
        = image_tag "team-zach.jpg", alt: "Zach"
      .info
        %h3 Zach
        %p.title Co-Founder
        %p Zach is a Jacksonville native that has been infatuated with the guitar for 17 years.  He has extensive experience as a private guitar instructor and has lectured in various workshops at Camp Jam in Atlanta, Georgia, including advanced lead guitar technique.
        %p In between picking, he managed to squeeze in a law degree and practice for a few years. Zach is now devoted to building useful tools for guitar players, but still finds plenty of time to gig around town and record new tunes.
    .team-member
      .avatar
        = image_tag "team-lee.jpg", alt: "Lee"
      .info
        %h3 Lee
        %p.title Co-Founder
        %p Lee is a guitar player and web developer who brings a love of simplicity to Original Fuzz. Prior to launching Original Fuzz he worked as Lead Developer at Wingard Creative in Jacksonville, co-founded Brooklyn-based digital marketing firm Electric Orange Creative, and helped pioneer social media marketing as the first employee at YouCast.
        %p Lee seriously enjoys designing great products for guitar players, and continues to write and record music. He loves going to see live bands.
