- content_for :title, "Become a Dealer"

%section.main
  .container
    .dealer-program
      %h1 Become an Authorized Dealer
      %p Join the Original Fuzz dealer program and get access to dealer pricing, exclusive deals, free shipping, and swag for your store.
      .one
        %h2 Benefits
        %ul
          %li Access to exclusive dealer deals
          %li Dealer pricing (cheapest available)
          %li Free shipping with purchase of dealer product bundles
          %li Original Fuzz guitar store swag (display cases, stickers, signage, picks, and more!)
          %li Each quarter we organize and sponsor an in-store concert with one of our authorized dealers
      .one
        %h2 Requirements
        %ol
          %li Fill out our #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} form.
          %li Purchase at least one dealer starter bundle.
          %li Order any item every 90 days to maintain your Authorized Dealer status. 
    .dealer-application
      %h2 Join Today
      %p Fill out our simple #{ link_to 'online application', 'https://originalfuzz.wufoo.com/forms/authorized-dealer-application/'} and get started today. An account rep will get back to your in 1-2 business days. 
      %p= link_to "Apply Now", "https://originalfuzz.wufoo.com/forms/authorized-dealer-application/", class: "btn btn-primary"