- content_for :title, "Contact Original Fuzz"

%section.main
  .container
    .contact
      .contact-main
        %h1 Contact Us
        %p We love hearing from our customers. Drop us a line to let us know what you think about our products, tip us off about some new band that we need to hear, or just chat.
        
        %h3 Mailing Address
        %address
          %p
            Original Fuzz
            %br
            2144 St. Johns Ave
            %br
            Jacksonville, FL 32204     
        %dl
          %dt Email
          %dd= mail_to "hello@originalfuzz.com"
        %dl
          %dt Phone
          %dd 904 701 8204
      
      %aside.contact-sidebar
        %h3 Follow Us
        %ul.social-buttons
          %li=link_to "Facebook", "http://www.facebook.com/originalfuzz"
          %li=link_to "Twitter", "http://twitter.com/original_fuzz"
          %li=link_to "Instagram", "http://instagram.com/originalfuzz"
          %li= link_to "Vimeo", "http://vimeo.com/originalfuzz"
          %li=link_to "Google+", "http://plus.google.com/101277587683541567500/"
        %h3 Newsletter
        %form#mc-embedded-subscribe-form{ :action => "http://originalfuzz.us2.list-manage.com/subscribe/post?u=09427a27a1ce710488e698230&amp;id=f8c8b7cab2", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank" }
          %fieldset.form-group
            %input{ :type => "email", :value => "", :placeholder => "Email Address", :name => "EMAIL" }
            %input.btn.btn-primary{ :type => "submit", :value => "Subscribe", :name => "subscribe" }
            %span.help-block Get updates, guitar tips, discounts, &amp; more.
