- content_for :title, "Contact Original Fuzz"

%section.main
  .container
    .contact
      .contact-main
        %h1 Contact Us
        %p We love hearing from our customers. Drop us a line to let us know what you think about our products, tip us off about some new band that we need to hear, or just chat.
        
        %h3 Mailing Address
        %address
          %p
            Original Fuzz
            %br
            2144 St. Johns Ave
            %br
            Jacksonville, FL 32204     
        %dl
          %dt Email
          %dd= mail_to "hello@originalfuzz.com"
        %dl
          %dt Phone
          %dd 904 701 8204
      
      %aside.contact-sidebar
        %h3 Follow Us
        %ul.social-buttons
          %li=link_to "Facebook", "http://www.facebook.com/originalfuzz"
          %li=link_to "Twitter", "http://twitter.com/original_fuzz"
          %li=link_to "Instagram", "http://instagram.com/originalfuzz"
          %li=link_to "Google+", "http://plus.google.com/101277587683541567500/"
      