- content_for :title, "Place a Wholesale Order"

%section.main
  .container
    .wholesale
      %h1 Place a Wholesale Order
      .one
        %p Placing a wholesale order with us is dead simple. 
        %ul
          %li #{ link_to 'Order online', 'http://www.lettuceapps.com/originalfuzz' } through our dealer portal. (Best pricing and limited offers!)          
          %li Order by phone. Call us at 904 701 8204.
          %li Order by email - #{ mail_to 'hello@originalfuzz.com'}.
        %p All of the products featured on our website are available at wholesale prices for retail stores. Just tell us the products and quantities you're interested in and we'll get back to you immediately with pricing and availability.
      .one
      %h2 Access Dealer Pricing
      %p If you haven't #{ link_to 'joined our dealer program', '/become-a-dealer' }, we recommend applying so that you can take advantage of the best pricing, exclusive deals, limited product runs, and dealer swag for your store.
      %p #{ link_to 'Become a dealer today', '/become-a-dealer' }.