- content_for :title, "Place a Wholesale Order"

%section.main
  .container
    .wholesale
      %h1 Place a Wholesale Order
      .one
        %p Placing a wholesale order with us is dead simple. 
        %ul
          %li Order by phone. Call us at 904 701 8204.
          %li Order by email - #{ mail_to 'hello@originalfuzz.com'}.
        %p All of the products featured on our website are available at wholesale prices for retail stores. Just tell us the products and quantities you're interested in and we'll get back to you immediately with pricing and availability.

        %p If you haven't joined our dealer program yet, we recommend applying so that you can take advantage of free shipping, exclusive deals, limited offers, and dealer swag for your store. 