- content_for :title, "Wholesale Orders & Pricing"

%section.main
  .container
    .wholesale
      %h1 Wholesale Orders &amp; Pricing
      .one
        %p info for placing wholesale orders on this page