- content_for :title, "Where To Find Original Fuzz Products"

%section.page-picture
  %section.main
    .container
      %section.where
        %hgroup
          %h1 Where To Find Us
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        - 5.times do
          .where-state
            %h3 Florida
            .where-location
              %address
                %p
                  %strong Guitar Shop
                  %br
                  1234 Street
                  %br
                  Jacksonville, FL 32202
              %dl
                %dt Phone
                %dd 904 312 3874
              %dl
                %dt Website
                %dd= link_to "www.website.com", "#"
            .where-location
              %address
                %p
                  %strong Guitar Shop
                  %br
                  1234 Street
                  %br
                  Jacksonville, FL 32202
              %dl
                %dt Phone
                %dd 904 312 3874
              %dl
                %dt Website
                %dd= link_to "www.website.com", "#"
            .where-location
              %address
                %p
                  %strong Guitar Shop
                  %br
                  1234 Street
                  %br
                  Jacksonville, FL 32202
              %dl
                %dt Phone
                %dd 904 312 3874
              %dl
                %dt Website
                %dd= link_to "www.website.com", "#"
            .where-location
              %address
                %p
                  %strong Guitar Shop
                  %br
                  1234 Street
                  %br
                  Jacksonville, FL 32202
              %dl
                %dt Phone
                %dd 904 312 3874
              %dl
                %dt Website
                %dd= link_to "www.website.com", "#"